<div class="app-form">
  <div class="app-form__container">
    <form [formGroup]="compraForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <ng-container *ngIf="editMode">
              <mat-form-field>
                <mat-label>Elige una fecha</mat-label>
                <input matInput formControlName="fecha" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="compraForm.controls.fecha.touched && compraForm.controls.fecha.errors as error">
                <ng-container *ngIf="error.required">
                  Falta escribir la fecha
                </ng-container>
              </mat-error>
            </ng-container>
            <ng-container *ngIf="!editMode">
              Lista de {{(activeCompra.fecha | date: 'dd/MM/yyyy')}}
            </ng-container>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="app-form__container__products">
            <ng-container *ngIf="!editMode">
              <div class="app-form__container__products__product" *ngFor="let producto of activeCompra.productos">
                {{producto}}
              </div>
            </ng-container>
            <ng-container *ngIf="editMode" formArrayName="productos">
              <mat-form-field *ngFor="let _ of productos.controls; index as i">
                <input type="text" placeholder="Producto" matInput [formControlName]="i">
                <mat-icon (click)="removeProducto(i)">remove_circle
                </mat-icon>
                <!-- <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete> -->
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="editMode">
              <button mat-raised-button color="primary" (click)="addProducto()">Añadir producto</button>
            </ng-container>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="app-form__container__footer">
            <ng-container *ngIf="!editMode">
              <button mat-raised-button color="primary"
                (click)="compraService.updateUI({editMode: true})">Editar</button>
            </ng-container>
            <ng-container *ngIf="editMode">
              <button mat-raised-button color="primary" (click)="save()">Guardar</button>
            </ng-container>
          </div>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</div>
