.app-login {
  &__formContainer {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    &__form {
      display: flex;
      flex-direction: column;
      flex-flow: column;
    }
    &__buttons {
      display: flex;
      margin-top: 20px;
      flex-flow: column;
    }
  }
}
