.app-listas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  &__container {
    display: flex;
    margin: 10px;
    flex-flow: row wrap;
    justify-content: center;
    &__card {
      display: flex;
      margin: 10px;
      flex-direction: row;
      flex-flow: row;
      justify-content: center;
      &__products {
        display: flex;
        align-items: center;
        height: 200px;
        overflow-x: auto;
        flex-direction: row;
        flex-flow: column;
        &--product {
          margin: 10px 0;
        }
      }
      &__footer {
        display: flex;
        margin: 20px 0;
        flex-flow: column;
      }
    }
  }
  &__footer {
    position: fixed;
    margin: 30px 20px;
    bottom: 0;
    left: 0;
    z-index: 9999999;
  }
}
